body {
  font-size: 1em;
}

h3 {
  font-family: sans-serif;
  color: #a0a0a0;
  text-align: center;
  font-weight: 300;
  font-size: 2em;
}

div#content {
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 700px;
}

#the-primebox {
  position: relative;
  margin: auto;
  width: 250px;
  height: 250px;
  background-color: #ed6837;
  border-radius: 8px;
}

#primebox-number-tape {
  height: 160px;
  width: 130px;
  position: absolute;
  top: 50px;
  left: 57px;
  background-color: #ededed;
  border: 1px solid #919191;
  padding: 2px;
  overflow-y: scroll;
}

#primebox-number-tape p {
  text-align: right;
  font-family: sans-serif;
  font-size: 1.0em;
  margin: 0em;
  color: #808080;
  line-height: 1.2em;
}

#primebox-next-button {
  width: 50px;
  display: block;
  position: absolute;
  top: 15px;
  left: 100px;
}

div#primebox-reset-switch {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #8e0000;
  border: 1px solid #fff;
}

div#primebox-reset-switch:hover {
  background-color: #00d8ff;
  border: 1px solid #9187ff;
}

